td select {width: 30%; float: right}

#cpm input {width: 65%}

td input {
  width: 85%;
}

#date {
  color: #2b3541;
  font-weight: bolder;
}
body {
  padding-top: 500px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}



.navbar {
  background: #F3E5AB;
  color: #ffffff;
}



body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}



