td input {width: 75%}

.idWidth input {width: 55px}

.budgetWidth input {max-width: 100px;}

.spentWidth input {max-width: 100px}





.cpmWidth input {max-width: 100px}
.cpmWidth select {max-width: 60px; }

#date {
  color: #2b3541;
  font-weight: bolder;
}
body {
  padding-top: 500px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}



.navbar {
  background: #F3E5AB;
  color: #ffffff;
}



body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}



